.judul {
    text-align: center;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 15mm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #ffeaea solid;
}

td {
    padding-top: 5px;
}

.surat {
    color: red;
    /* Nomor berwarna merah */
}

div h5 {
    text-align: center;
}

/* @page {
    size: A4;
    margin: 0;
} */

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
