body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    position: relative;
}

.w-full {
    /* width: 100%; */
    margin-top: 50px;
}

table {
    width: 100%;
    border-spacing: 0;
}

.container {
    font-size: 13px;
    margin-top: 70px;
}

.inggris {
    font-style: italic;
    text-decoration: underline;
}

.indonesia {
    font-weight: normal;
}

.spaced-lines {
    margin-top: 80px;
}

.signature-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

.signature-line {
    width: 200px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 10px;
}

.english-name {
    margin: 0;
    font-size: 12px;
    text-decoration: underline;
}

.indonesian-name {
    font-weight: normal;
    margin: 0;
    font-size: 12px;
}

/* Gaya khusus untuk cetak */
@media print {
    @page {
        size: A4 portrait;
        margin: 1cm;
        /* Atur margin sesuai kebutuhan */
    }
}
