.card {
    width: 55%;
    height: 10%;
    border: 3px solid;
    position: relative;
    padding: 25px 50px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 10px;
}

.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* @page {
    size: A4;
    margin: 0;
}

@media print {

    html,
    body {
        width: 210mm;
        height: 297mm;
    }
} */
