body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    position: relative;
    padding: 20px;
}

.header-text {
    text-align: center;
    line-height: 0.7;
}

p:last-of-type {
    margin-bottom: 0;
}

.header-logo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-logo img {
    width: 100px;
    height: auto;
}

/* isi untuk surat transmital slip */
.transmittal-slip {
    width: 100%;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.content-table td {
    padding: 5px;
    border: 1px solid #000; /* Border pada tabel */
}

.left {
    width: 10%;
    vertical-align: top;
}

.left-content {
    width: 30%;
}

.spacer {
    width: 25%;
}

.right {
    width: 15%;
    vertical-align: top;
    text-align: right;
}

.right-content {
    width: 20%;
    text-align: right;
}

.cover-note {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.billing-section {
    padding-top: 10px;
    padding-bottom: 20px;
}

<<<<<<< HEAD
.spacing {
    padding-top: 10em; /* Memberikan jarak 10 line-height */
}

.horizontal-line {
    border-top: 1px solid #000;
    margin-top: 15px;
=======
hr {
    border: none;
    border-top: 1px solid #000;
    margin-top: 20px;
>>>>>>> 09f7c8e16732b72f504eb2071a7bafaf3a317630
}
