body {
    font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
}

header {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 5px;
    /* border-bottom: 2px solid #eaeaea; */
    padding-bottom: 5px;
}

header h1 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
}

header h2 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    line-height: 1px;
}

.billing-info {
    font-size: 12px;
    padding: 8px;
    line-height: 5px;
}

/* ------------------------Gaya untuk Table 3 kolom -------------------------------------*/
#table3 {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 11px;
    padding-bottom: 10px;
}

#table3 th,
#table3 td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

#table3 th:nth-child(1),
#table3 td:nth-child(1) {
    width: 30%;
}

#table3 th:nth-child(2),
#table3 td:nth-child(2) {
    width: 30%;
}

#table3 th:nth-child(3),
#table3 td:nth-child(3) {
    width: 40%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
#table3a {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
}

#table3a th,
#table3a td {
    text-align: left;
    padding: 8px;
}

#table3a th:nth-child(1),
#table3a td:nth-child(1) {
    width: 34%;
}

#table3a th:nth-child(2),
#table3a td:nth-child(2) {
    width: 3%;
}

#table3a th:nth-child(3),
#table3a td:nth-child(3) {
    width: 61%;
}

.titletbl {
    font-size: 11px;
    text-align: center;
    /* padding-top: 20px; */
    line-height: 2px;
    /* margin-left: 10px; */
    padding-bottom: 10px;
}

.rinci1 {
    font-size: 11px;
    text-align: left;
    padding-bottom: 10px;
    line-height: 2px;
    padding-top: 2px;
}

ul.strip-bullets {
    list-style-type: none;
    /* Menghilangkan bullet default */
    padding-left: 0px;
    /* Jarak antara bullet kustom dan teks */
}

ul.strip-bullets li {
    position: relative;
    padding-left: 15px;
    /* Jarak antara bullet strip dan teks */
    margin-bottom: 5px;
    /* Jarak antara item daftar */
}

ul.strip-bullets li::before {
    content: "-";
    /* Menambahkan bullet strip */
    position: absolute;
    left: 0;
    color: black;
    /* Warna strip, bisa diubah sesuai keinginan */
}
