body {
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    /* font-weight: bold; */
    margin-bottom: 1em;
}

.text {
    margin: 0;
    line-height: 2;
    /* Adjust line-height for spacing */
}

table {
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.label {
    width: 25%;
    /* Atur lebar kolom label */
    white-space: nowrap;
    /* Mencegah label menjadi lebih dari satu baris */
    padding-right: 5px;
}

.colon {
    width: 3%;
    /* Lebar minimum agar titik dua tidak melompat ke baris baru */
    padding-right: 10px;
}

.content {
    word-wrap: break-word;
    /* Membungkus teks yang panjang */
    width: 74%;
    /* Atur lebar kolom konten */
}

.details td {
    padding: 5px 10px;
}

.details td:first-child {
    width: 25%;
    padding-left: 1px;
}

.details td:last-child {
    width: 75%;
}

.highlight-color {
    color: red;
}

.benefit {
    text-align: center;
    font-weight: bold;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.additional-info {
    margin-top: 1.5em;
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
    width: 50%;
    padding: 10px 0;
}

.company-name {
    margin-bottom: 2em;
    margin-right: 20px;
}

.signature-section {
    margin-bottom: 0.5em;
    /* Space before registrar and supplementary contract text */
}

.signature-img {
    max-width: 200px;
    /* Adjust as needed */
}

.signature-line {
    border-top: 1px solid black;
    width: 70%;
    margin-top: 5em;
    /* margin-top: 1em; */
}

.registrar,
.name-title p {
    text-align: left;
    margin-top: 0.3em;
    /* Space before supplementary contract text */
}

.policy-text {
    font-size: 11px;
    font-style: italic;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #909090;
    padding: 5px 0;
}

.footer .left {
    float: left;
    margin-left: 10px;
}

.footer .right {
    float: right;
    margin-right: 30px;
}

.page-break {
    page-break-after: always; /* Memastikan elemen setelah ini akan dimulai di halaman baru */
}
