body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul.disc {
    list-style-type: disc;
}

ul.circle {
    list-style-type: circle;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}

strong {
    font-size: 18px;
}
